# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
app/build

# misc
.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
server/.env.development
app/.env.development
*/.env.test.local
server/.env.production
app/.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

package-lock.json
flappigotchi-service-account.json

# Logs
*/logs
*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/firebase-debug.log*
*/firebase-debug.*.log*
