@import 'theme/vars.css';

.container {
  max-width: var(--container-width-xl);
  padding: 0 1.6rem;
  margin: 0 auto;
}

.glow {
  webkit-box-shadow: 0px 0px 60px 0px var(--color-pink_0);
  -moz-box-shadow: 0px 0px 60px 0px var(--color-pink_0);
  box-shadow: 0px 0px 60px 0px var(--color-pink_0);
}

.primaryButton {
  background-color: var(--color-purple_0);
  color: white;
  border: 4px solid var(--color-pink_0);
  font-size: 1.6rem;
  max-width: 16rem;
  width: 100%;
  padding: 1.2rem;
  text-transform: uppercase;
  webkit-box-shadow: 0px 0px 20px 0px var(--color-pink_0);
  -moz-box-shadow: 0px 0px 20px 0px var(--color-pink_0);
  box-shadow: 0px 0px 20px 0px var(--color-pink_0);
}