@import 'theme/vars.css';

.container {
  max-width: var(--container-width-xl);
  padding: 0 1.6rem;
  margin: 0 auto;
}

.glow {
  webkit-box-shadow: 0px 0px 60px 0px var(--color-pink_0);
  -moz-box-shadow: 0px 0px 60px 0px var(--color-pink_0);
  box-shadow: 0px 0px 60px 0px var(--color-pink_0);
}