@import 'theme/vars.css';

.selectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectorWrapper {
  box-sizing: revert;
  position: relative;
  width: 7.2rem;
  padding: 1.2rem;
  overflow: hidden;
}

.selector {
  position: absolute;
  transition: transform 300ms ease;
  left: 1.2rem;
}

.chevron.up {
  margin-bottom: 2.4rem;
}
.chevron.down {
  margin-top: 2.4rem;
}
.chevron.enabled {
  cursor: pointer;
}
.chevron.disabled {
  opacity: 0.5;
}

.loadingContainer,
.gotchiContainer {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.loadingContainer:not(:first-child),
.gotchiContainer:not(:first-child) {
  margin-top: 2.4rem;
}

.gotchiContainer.selected {
  border: 2px solid var(--color-pink_0);
}

.loadingContainer {
  background-color: white;
}
.loadingContainer img {
  width: 100%;
  height: 100%;
}
