@import 'theme/vars.css';

.selectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron.up {
  margin-bottom: 2.4rem;
}
.chevron.down {
  margin-top: 2.4rem;
}


.gotchiContainer {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.2rem 0;
  cursor: pointer;
}
.gotchiContainer.selected {
  border: 2px solid var(--color-pink_0);
}
